// 区分绩效考核组件领导端和责任端颜色区别
$theme-leader: #CFB88D;
$theme-unit: #506eda;

/** 弹窗通用样式 start **/
::v-deep .point-rank-dialog {

  &.point-rank-leader {
    .el-dialog__header {
      background-color: $theme-leader;
    }
  }

  &.point-rank-unit {
    .el-dialog__header {
      background-color: $theme-unit;
    }
  }

  .el-dialog {
    margin-bottom: auto;

    .el-dialog__header {
      padding: 10px !important;

      .el-dialog__title {
        color: #fff;
      }

      .el-dialog__headerbtn {
        top: 15px;

        .el-dialog__close {
          color: #fff;
        }
      }
    }

    .el-dialog__body {
      padding: 0;
    }

    .el-dialog__footer {
      padding: 10px 20px;
      border-top: 1px solid #ddd;
    }
  }
}

/** 弹窗通用样式 end **/