@import '../variable.scss';
.lookui-card {
  .el-card__header {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > span {
        color: $--themeColor;
      }
    }
  }
  .info {
    padding: 8px 16px;
    .name {
      color: $--themeColor;
      font-size: 14px;
    }
    .description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .txt {
        color: #666666;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 10px;
      }
    }
  }
}
// 移动端卡片
.app-lookui-card {
	display: flex;
	flex-wrap: wrap;
	.card {
		width: calc(50% - 5px);
		margin-bottom: 6px;
		img {
			width: 100%;
		}
		&:nth-child(2n) {
			margin-left: 10px;
		}
	}
}