@import '../common.scss';

#pointRule {
  font-size: 18px;

  .point-rule-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;

    .title-icon {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    .title-content {
      font-size: 22px;
      font-weight: 700;
    }

    &.point-rule-title-unit {
      color: $theme-unit;

      .title-icon {
        background-color: $theme-unit;
      }
    }

    &.point-rule-title-leader {
      color: $theme-leader;

      .title-icon {
        background-color: $theme-leader;
      }
    }
  }

  .org-table-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 24px;

    &>div {
      width: calc(100% - 9px);
      border: 1px solid #eee;
    }

    ::v-deep .org-point-table {
      .org-point-header-cell {
        border-bottom: 0;
        background: #32CD32;
        color: #fff;

        &.total-point-cell {
          background-color: #FF9900;
        }
      }

      .org-point-common-cell {
        background-color: #D7F5D7;
        font-weight: 700;

        div {
          color: #05832B;
        }

        &.total-point-cell {
          background-color: #FFEBCD;

          div {
            color: #FF9E0C;
          }
        }

        &.usual-point-cell {
          div {
            color: #FC1611;
          }
        }
      }
    }

    ::v-deep .task-count-table {
      .task-count-header-cell {
        border-bottom: 0;
        background: #4264BF;
        color: #fff;

        &.total-count-cell {
          background-color: #339AFF;
        }
      }

      .task-count-common-cell {
        background-color: #DDE3F3;
        font-weight: 700;

        div {
          color: #4264BF;
        }

        &.total-count-cell {
          background-color: #D7EBFF;

          div {
            color: #339AFF;
          }
        }

        &.overTime-count-cell {
          div {
            color: #FC1611;
          }
        }

        &.quality-stat-cell {
          .quality-stat-list {
            display: flex;
            justify-content: center;
            align-items: center;

            .quality-stat-excellent {
              color: #008000;
            }

            .quality-stat-well {
              color: #000;
            }

            .quality-stat-normal {
              color: #FF9900;
            }

            .quality-stat-poor {
              color: #FF0000;
            }
          }
        }
      }
    }
  }

  .rule-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 12px;

    .title-content {
      font-size: 26px;
      font-weight: 700;

      &.title-content-leader {
        color: $theme-leader;
      }

      &.title-content-unit {
        color: $theme-unit;
      }
    }

    .icon-left,
    .icon-right {
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon-hr {
        width: 100%;
        height: 0;
        border: 1px solid;

        &.icon-hr-leader {
          border-color: $theme-leader;
        }

        &.icon-hr-unit {
          border-color: $theme-unit;
        }
      }

      .icon-square {
        width: 0;
        height: 0;
        border: 3px solid;
        transform: rotate(45deg);

        &.icon-square-leader {
          border-color: $theme-leader;
        }

        &.icon-square-unit {
          border-color: $theme-unit;
        }
      }
    }

  }

  .rule-description {
    text-indent: 2em;
    line-height: 26px;
  }

  .rule-list {
    margin-top: 40px;
    height: calc(100% - 92px);
    width: 100%;

    ::v-deep .el-tabs {
      height: 100%;

      .el-tabs__header {
        height: 160px;
        margin: 0;

        .el-tabs__nav-wrap {
          height: 100%;

          .el-tabs__nav-scroll {
            height: 100%;

            .el-tabs__nav {
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: space-between;

              .el-tabs__item {
                flex: 1;
                text-align: center;

                .list-title {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  gap: 8px;

                  .list-title-img {
                    height: 71px;

                    img {
                      height: 56px;
                      width: 56px;

                      &.unusual {
                        display: none;
                      }
                    }
                  }

                  .list-title-type {
                    font-size: 24px;
                    line-height: 24px;
                    font-weight: 700;
                  }

                  .list-title-point {
                    font-size: 22px;
                  }
                }

                &.is-active {
                  .list-title-leader {
                    color: $theme-leader;
                  }

                  .list-title-img {
                    img {
                      height: 56px;
                      width: 56px;

                      &.normal {
                        display: none;
                      }

                      &.unusual {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.el-tabs-leader {
        .el-tabs__active-bar {
          background-color: $theme-leader;
        }

        .el-tabs__item:hover {
          color: $theme-leader;

          .list-title {
            .list-title-img {
              img {
                &.normal {
                  display: none;
                }

                &.unusual {
                  display: block !important;
                }
              }
            }
          }
        }
      }

      &.el-tabs-unit {
        .el-tabs__item:hover {
          .list-title {
            .list-title-img {
              img {
                &.normal {
                  display: none;
                }

                &.unusual {
                  display: block !important;
                }
              }
            }
          }
        }
      }

      .el-tabs__content {
        height: calc(100% - 160px);

        .el-tab-pane {
          height: 100%;

          .tab-item-content {
            height: 234px;
            padding-top: 18px;
            overflow: auto;

            &::-webkit-scrollbar {
              display: none;
            }

            &>div {
              margin: 24px 0;
              padding-left: 5px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 12px;
              color: #000;

              .rule-icon {
                width: 6px;
                height: 6px;
                border-radius: 50%;
              }

              &.rule-leader {
                .rule-icon {
                  background-color: $theme-leader;
                }
              }

              &.rule-unit {
                .rule-icon {
                  background-color: $theme-unit;
                }
              }
            }
          }
        }
      }
    }
  }
}